In [2]:
%load_ext sql
%sql sqlite:///EbayAuction.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

u'Connected: None@EbayAuction.db'

In [8]:
!pwd

/Users/weitang/CS 564/Untitled Folder

In [2]:
%%sql
--find the number of users in the database
SELECT count(*) FROM User

Done.

[(13422,)]

In [3]:
%%sql
--Find the number of users from New York (i.e., users whose location is the string "New York").
SELECT COUNT(*) FROM User WHERE Location = "New York"

Done.

[(80,)]

In [6]:
%%sql
--Find the number of auctions belonging to exactly four categories.
SELECT count(*) FROM (SELECT COUNT(*) AS countAuc FROM Category GROUP BY itemID) WHERE countAuc = 4

Done.

[(8365,)]

In [24]:
%%sql
--Find the ID(s) of auction(s) with the highest current price.
--SELECT itemID FROM Item WHERE Currently = (SELECT Currently FROM Item ORDER BY Currently DESC LIMIT 1)
SELECT DISTINCT itemID FROM Item WHERE Currently = (SELECT MAX(Currently) FROM Item)

Done.

[(1046871451,)]

In [29]:
%%sql
--Find the number of sellers whose rating is higher than 1000.
SELECT COUNT(*) FROM (SELECT DISTINCT U.userID FROM User U, Item I WHERE I.SellerID = U.userID AND U.Rating > 1000)

Done.

[(3130,)]

In [35]:
%%sql
--Find the number of users who are both sellers and bidders
SELECT Count(*) FROM 
(SELECT DISTINCT I.sellerID FROM Item I, Bid B WHERE I.SellerID = B.BidderID)

Done.

[(6717,)]

In [4]:
%%sql
--Find the number of categories that include at least one item with a bid of more than $100.
SELECT COUNT(*) FROM (SELECT DISTINCT C.Category FROM Category C, Bid B WHERE B.Amount > 100 AND B.itemID = C.itemID)

Done.

[(150,)]